<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            {{!-- <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Login</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Login</li>
                    </ol>
                </div>
            </div> --}}
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Product Record Display<small></small></h3>
                        </div>
                        <body>
                            <table border='1'>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Product Details</th>                                    
                                    <th>Product Price</th>
                                    <th>Product Quantity</th>
                                    <th>Product Image</th>
                                    <th>Action</th>
                                   
                                    {{!-- <th>Action</th> --}}
                                </tr>
                                {{#each mydata}}
                                <tr>
                                    <td> {{_id}}</td>
                                    <td>{{p_name}}</td>
                                    <td>{{p_details}}</td>
                                    <td>{{p_price}}</td>
                                    <td>{{p_qty}}</td>
                                    <td><img src="/productphoto/{{p_img}}" style="width: 100px;"></td>
                                    <td> <a href="/admin/product/edit/{{_id }}">Edit</a>
                                        <a href="/admin/product/delete-record/{{ _id }}">Delete</a>
                                        {{!-- <a href="/show/{{ _id }}">Show</a> --}}
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </body>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>