<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Admin Display Record<small></small></h3>
                        </div>
                        <body>
                            <table border='1'>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Admin Image</th>
                                    <th>Action</th>
                                </tr>
                                {{#each data}}
                                {{!-- {{data.name}} --}}
                                <tr>
                                    <td> {{_id}}</td>
                                    <td>{{email}}</td>
                                    <td>{{password}}</td>
                                    <td><img src="/adminphoto/{{file}}" style="width: 100px;"></td>
                                    <td> <a href="/admin/editadmin/{{_id }}">Edit</a>
                                        <a href="/admin/delete-record/{{ _id }}">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </body>

                    </div>
                    <!-- /.card -->
                </div>
                
                <div class="col-md-6">

                </div>
                
            </div>
            
        </div>
    </section>
    
</div>