<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">

        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">User Display Record<small></small></h3>
                        </div>

                        <body>
                            <table border='1'>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Mobile</th>
                                    <th>Adress</th>
                                    <th>User Photo</th>
                                    <th>Action</th>

                                </tr>
                                {{#each mydata}}
                                <tr>
                                    <td> {{_id}}</td>
                                    <td>{{user_name}}</td>
                                    <td>{{user_gender}}</td>
                                    <td>{{user_email}}</td>
                                    <td>{{user_password}}</td>
                                    <td>{{user_mobile}}</td>
                                    <td>{{user_address}}</td>
                                    <td><img src="/userphoto/{{user_file}}" style="width: 100px;"></td>
                                    <td> <a href="/admin/user/useredit/{{_id }}">Edit</a>
                                        <a href="/admin/user/delete-record/{{ _id }}">Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </body>

                    </div>

                </div>

                <div class="col-md-6">

                </div>

            </div>
        </div>
    </section>

</div>